
/*CARRINHO DE COMPRAS*/

.table {
    margin-top: -10px;
}

.container h1 {
    font-size: 25px !important;
    margin-top: 10px;
    margin-left: 10px;
}

.container svg {
    margin-top: -7px;
}

.form-control.text-center.border-dark {
    background-color: white;
        }